<!DOCTYPEhtml>
<html 	xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:th="http://www.thymeleaf.org">
	
	<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<title>Uppopallo</title>
	</head>

	<body>
		<h1>Pelaajalista</h1>
		
		<div class="row justify-content-between">
			<div class="col-4">
				<h3 style="color:black !important;" class="text-muted" th:inline="text">Tervetuloa [[${#httpServletRequest.remoteUser}]]</h3>
			</div>
			<div class="col-4">
				<form th:action="@{/logout}" method="post">
					<input style="float:right;margin-right:10px;" type="submit" value="Kirjaudu ulos" class="btn btn-outline-primary" />
				</form>
			</div>
		</div>
		
		<table class="table table-striped">
			<tr>
				<th th:href="@{/pelaajalista(pelaaja.nimi)}">Nimi</th>
				<th>Joukkue</th>
				<th>Pelinumero</th>
				<th>Maalit</th>
				<th>Syötöt</th>
				<th>Pisteet</th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
				<th sec:authorize="hasAuthority('ADMIN')"></th>
			</tr>
			<tr th:each = "pelaaja : ${pelaaja}">
				<td th:text="${pelaaja.nimi}"></td>
				<td th:text="${pelaaja.joukkue.name}"></td>
				<td th:text="${pelaaja.pelinumero}"></td>
				<td th:text="${pelaaja.maalit}"></td>
				<td th:text="${pelaaja.syotot}"></td>
				<td th:text="${pelaaja.pisteet}"></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/delete/{id}(id=${pelaaja.id})}">Poista</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/edit/{id}(id=${pelaaja.id})}">Muokkaa</a></td>
			</tr>
		</table>
		<a sec:authorize="hasAuthority('ADMIN')" href="/add" class="btn btn-success">Lisää pelaaja</a>
	</body>
</html>